{# {{items}} #}

<form method='post' action=''>
{{items.form_build_id}}
{{items.form_id}}
{{items.form_token}}
<div class='form'>{{items.name}}</div>
<div class='form'>{{items.phone}}</div>
<div class='form'>{{items.email}}</div>
<div class='form'>{{items.age}}</div>
<div class='form'>{{items.describeseft}}</div>
<div class='form'>{{items.save}}</div>
</form>
